img{
    vertical-align: middle;
}
tr:nth-child(2){
    font-weight: bold;
}
tr:nth-child(7){
    background-color: green;
}
tr:nth-last-child(3){
    background-color: orange;
}
tr:nth-child(2){
    background-color: mediumblue;
}
tr:nth-child(3){
    background-color: mediumblue;
}
tr:nth-child(4){
    background-color: mediumblue;
}
tr:nth-child(5){
    background-color: mediumblue;
}
tr:nth-child(6){
    background-color: lightsalmon;
}

tr:nth-last-child(-n+2){
    background-color: red;
}
tr:nth-child(-n+5):nth-child(2n){
    background-color: lightblue;
}
tr:nth-child(2n+8):nth-child(n+4){
    background-color: lightgrey;
}
tr:nth-last-child(2){
    background-color: lightcoral;
}